 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    color: #333;
}
 

.container{
  max-width: 1200px;
  padding: 0 20px;
}
.header{
  background: #20272e;
  color: #fff;
  padding: 1rem 0;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9;
  
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo h1{
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 0.2rem;  
}
.logo tagline{
  font-size: 0.9rem;
  opacity: 0.8;
}
.nav-links{
  display: flex;
  list-style: none;
  gap:2rem;
}
.nav-links a{
text-decoration: none;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.3s ease
}
.nav-links a:hover{
  background: #2e333c;
}

/* https://images.pexels.com/photos/38570/lamborghini-car-speed-prestige-38570.jpeg */
.hero{
  height: 100vh;
  background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.pexels.com/photos/38570/lamborghini-car-speed-prestige-38570.jpeg') center/cover;
  background-image: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
    
}

.hero h2{
  font-size: 3rem;
  margin-bottom: 1rem;
  font-weight:300;
  letter-spacing:2px;
}
.hero p{
  
  font-size: 1.2rem;
  margin-bottom: 2rem;
  max-width:600px;
}
.hero-button{
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 1rem 2rem;
            }
.btn{
  padding:1rem 2rem ;
  text-decoration:none;
  border-radius:4px;
  font-weight:bold;
  transition:all .3s ease;
  display:inline-block;
}
.btn-primary{
  background:#e74c3c;
  color:#fff;
}
.btn-primary:hover{
  background:#c0392b;
  transform:translateY(-2px);
}
.btn-secondery{
  background:transparent;
  color:#fff;
  border:2px solid #fff;
}
.btn-secondery:hover{
  background:#fff;
  color:#2c3e50;
}

.products-menu{
      background: #56626e;
      color: #fff;
      display:flex;
      justify-content:space-between;
      align-content:center;
      text-align:center;
      align-items: center;
}   

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 350px;
}
.product-content{
   display: flex;
 flex-wrap: wrap;
 column-gap: 48px;
}

.model{
  display:flex;
  justify-content:center;
  align-items:center;
  align-content:center;
  width:100vw;
  height:100vh;
  position:fixed;
  top:0;
  left:0;
  background-color: rgba(0, 0, 0, 0.7)
}

.model{
  display: none;
}

.model .model-main{
      border-radius: 25px;
  background:#34383c;
  color:#fff;
  letter-spacing:0.5px;
  width:50vw;
}
.model-content{
      display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}
.model-header {
    display: flex;
    justify-content: center;
}
.fields input{
width:80%;
    padding:6px 10px;
    margin:8px 0px;
    box-sizing:border-box;
    border:2px solid #2c3e50;
    border-radius:4px;
    background:#ddd;
    color: #333;

}
.fields input[type=text]:focus {
  background-color: #fff;
  border: 2px solid #555;
  outline: none; /* Removes default outline */
}
.car-info {
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center;
    align-content: center;
    font-weight: 300;
    text-shadow: #ccc;
}

button.btn.btn-adding {
    padding: 7px;
    background: #2b3031;
    color: #ccc;
    cursor: pointer;
    border: none;
    transition: background-color 0.8s ease
}

button.btn.btn-adding:hover {
    background: #8e3830;
    border: none;
} 
 

.searched-content, .latestcar-content {
    display:flex;
    flex-wrap:wrap;
    justify-content:space-around;
    align-content:center;
    align-items:center;
    gap:10px;
}


main {
    position: relative;
    top: 129px;
    z-index: 0px;
}

.searched-header, .latestcar-header {
    text-align: center;
    font-size: 1.3rem;
    letter-spacing: 1px;
    color: #2e3c50;
    padding: 3rem 0;
}

.searched-header h3, .latestcar-header h3 {
    border-bottom: 1px solid #2e3c50;
   text-align: center;
  margin-bottom: 1rem;
  color: #2e3c50;
}

.product-edit {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
    padding: 1rem;
    margin: 10px;
}


/* z-index for header */
.zindex-o{
  z-index: 0 !important;
}


/* updateing content */


#about {
  padding: 5rem 0;
  background: #fff;
}

.about-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
}
.about-text h3{
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #2c3e50;
}
.about-text p{
  margin-bottom: 1rem;
  font-size: 1rem;
  line-height:1.2;
  color: #555;
}
.about-image img{
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 14px;
  box-shadow: 0px 4px 15px rgba(0,0,0,0.1);
}



@keyframes fadeInUp{
  from{
    opacity: 0;
    transform: translateY(30px)
  }
   to{
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes SlideInLeft{
  from{
    opacity: 0;
    transform: translateY(-50px)
  }
   to{
    opacity: 1;
    transform: translateY(0)
  }
}

.about-image{
  animation: fadeInUp 1s ease-in ;
}


#menu {
  background: #f8f9f0
}

.section-title {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2.5rem;
  color: #2e3c50
}
.section-subtitle{
  text-align: center;
  font-size: 1.1rem;
  color:#567;
  margin-bottom: 2rem;
}
.menu-category{
  margin-bottom: 3rem;
}
.menu-categories h3{
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #2c3e50;
  border-bottom: 1px solid #2c3e50;
  padding-bottom: 0.5rem;
}

.menu-items{
  display: grid;
  gap:1.5rem;
}
.menu-item{
  display: flex;
  justify-content: space-between;
/*   align-items: center; */
  padding: 1.5rem;
  background-color: #fff;
  border-radius: 9px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.5);
  transition: transform 0.3s ease;
}

.menu-item:hover{
  transform: translateY(-3px);
}

.menu-item-info h4{
  margin-bottom: 0.5rem;
  font-size: 1.1rem;
  color:#2e3c50
}
.menu-item-info p{
 line-height: 1;
  color:#677
}
.menu-items .price{
  font-size: 0.9rem;
  color: #e74c3c;
  font-weight: bold;
  margin-left: 1rem;
}


.headers-links {
  display: flex;
  gap: 1rem;
}



.header-links {
    text-decoration: none;
    color: #333;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    padding: 5px 10px 5px;
    transition:background-color .3s ease;
}
.header-links:hover {
background-color:#2c3e50;
    color:#ddd;
}

span.remove-it-menu {
    color:red;
    position:relative;
    bottom:10px;
    right:2px;
    font-size:10px;
    cursor:pointer;
    font-weight:900;
}


.action-place {
    align-items: center;
    display: flex;
    justify-content: center;
}
.updat-stage input{
    padding:10px;
    align-content:center;
    border-radius:5px;
    border-color:#ddd;
}
.updat-stage button{
    background:#2c3e50;
    padding:10px;
    border-radius:5px;
    border-color:#ddd;
}

span.addnewheader {
    cursor: pointer;
    transition: background-color 0.3s ease;
    padding:5px;
}
span.addnewheader:hover{
    background-color:#2c3e50;
    color:#ddd;
    border: 1px solid #2c3e50;
    border-radius:5px;
}

.menu-categories img{
  width: 100%;
}